body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #F9F3E6;
    color: #554D3D;
  }
  
  h1 {
    text-align: center;
    color: #E98074;
  }
  
  #taskForm {
    display: flex;
    margin-bottom: 10px;
  }
  
  #taskInput, #taskDescription {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #D4C6B7;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #FDF5E6;
    color: #554D3D;
  }
  
  #taskPriority {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #D4C6B7;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #FDF5E6;
    color: #554D3D;
  }
  
  #addTaskButton {
    background-color: #E98074;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  
  .taskItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #FDF5E6;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .taskItem .taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .taskItem .taskTitle {
    font-weight: bold;
    color: #E98074;
  }
  
  .taskItem .taskDescription {
    margin-bottom: 5px;
    color: #554D3D;
  }
  
  .taskItem .taskPriority {
    font-style: italic;
    color: #8D8075;
  }
  
  .taskItem .deleteButton {
    background-color: #E98074;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
